@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">
    @{
        if (Model.ErrorMessage != null)
        { 
            <text>@(Model.ErrorMessage)</text>
        }
        else
        {
            <text>An error occurred while processing your request.</text>
        }
    }
</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}