/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand { white-space: normal; text-align: center; word-break: break-all; }

/* Provide sufficient contrast against white background */
a { color: #0366d6; }
.btn-primary { color: #fff; background-color: #1b6ec2; border-color: #1861ac; }
.nav-pills .nav-link.active, .nav-pills .show > .nav-link { color: #fff; background-color: #1b6ec2; border-color: #1861ac; }

/* Sticky footer styles
-------------------------------------------------- */
html { font-size: 14px; }
@media (min-width: 768px) {
    html { font-size: 16px; }
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }
.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
button.accept-policy { font-size: 1rem; line-height: inherit; }

/* Sticky footer styles
-------------------------------------------------- */
html { position: relative; min-height: 100%; }
body { /* Margin bottom by footer height */ margin-bottom: 60px; }
.footer { position: absolute; bottom: 0; width: 100%; white-space: nowrap; line-height: 60px; /* Vertically center the text there */ }
a, a:hover { text-decoration: none; cursor: pointer; }
a.plat-icon { height: 50px; display: inline-block }
a.plat-icon img { max-width: 50px; max-height: 50px; }
a.plat-icon.testing { position: relative; }
a.plat-icon.testing:before { position: absolute; content: '待测试'; display: block; left: 0; bottom: 0; color: red; width: 100%; text-align: center; background: #eeeeee; font-size: 12px; }