@{
    ViewData["Title"] = "做最好用的 OAuth 登录组件";
    var supported = new List<(string plat, bool available, string nuget)>()
    {
        ("Baidu", true, null),
        ("Wechat", true, null),
        ("Gitlab", true, null),
        ("Gitee", true, null),
        ("Github", true, null),
        ("Huawei", true, null),
        ("Coding", true, null),
        ("SinaWeibo", true, null),
        ("Alipay", true, null),
        ("QQ", false, null),
        ("OSChina", true, null),
    };
}

<div class="text-center mt-5">
    <h2>@(ViewData["Title"])</h1>

    <table class="table table-bordered mt-4">
        <thead class="thead-light">
            <tr>
                <th width="33.33%">登录</th>
                <th width="33.33%">可用</th>
                <th width="33.33%">nuget</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in supported.OrderByDescending(p => p.available))
                {
                <tr>
                    <td><a href="/oauth/@(item.plat)" class="btn btn-primary">@(item.plat)</a></td>
                    <td>
                        @{
                            if (item.available)
                            {
                            <span class="text-success">可用</span>
                            }
                            else
                            {
                            <span class="text-warning">待测试</span>
                            }
                        }
                    </td>
                    <td>
                        @{
                            if(item.nuget == null) 
                            {
                            <span class="text-danger">未发布</span>
                            }
                            else
                            {
                            <span class="text-success"><a href="@(item.nuget)" target="_blank">Nuget</a></span>
                            }
                        }
                    </td>
                </tr>
                }
            }
        </tbody>
        <tfoot><tr><td colspan="3" class="text-danger">待测试：未注册应用测试，欢迎提供测试appid。<br />联系邮箱：admin@mrhuo.com </td></tr></tfoot>
    </table>
</div>