@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5">
    <h1 class="display-4">现支持以下 OAuth 方式</h1>

    <div class="text-center mt-4">
        <a href="/oauth/github" class="btn btn-primary">Github 登录</a>
        <a href="/oauth/wechat" class="btn btn-primary">Wechat 扫码登录</a>
@*        <a href="/oauth/qq" class="btn btn-primary">QQ 登录</a>
        <a href="/oauth/microsoft" class="btn btn-primary">Microsoft 登录</a>*@
    </div>
</div>