@{
    ViewData["Title"] = "做最好用的 OAuth 登录组件";
    var supported = new List<(string plat, string platName, bool available, string nuget)>()
    {
        ("Baidu", "百度", true, null),
        ("Wechat", "微信公众号",  true, null),
        ("Gitlab", "Gitlab",  true, null),
        ("Gitee", "Gitee",  true, null),
        ("Github", "Github",  true, null),
        ("Huawei", "华为",  true, null),
        ("Coding", "Coding",  true, null),
        ("SinaWeibo", "新浪微博",  true, null),
        ("Alipay", "支付宝",  true, null),
        ("QQ", "QQ",  false, null),
        ("OSChina", "OSChina",  true, null),
        ("DouYin", "抖音",  false, null),
        ("WechatOpen", "微信开放平台",  false, null),
        ("MeiTuan", "美团外卖",  false, null),
    };
}

<div class="text-center mt-5">
    <h2>@(ViewData["Title"])</h2>

    <div class="offset-md-2 col-md-8 mt-5">
        @{
            foreach (var item in supported)
            {
                if(item.available)
                {
                    <a href="/oauth/@(item.plat)" title="使用@(item.platName)账号登录" class="plat-icon ml-2 mr-2 mt-4">
                        <img src="/logo/@(item.plat.ToLower()).png" />
                    </a>
                }
                else
                {
                    <a href="/oauth/@(item.plat)" onclick="return confirm('暂未获得平台【@(item.platName)】应用Id，不保证正确相应您的请求。\n欢迎提供测试信息，感谢！联系QQ：491217650')" title="使用@(item.platName)账号登录" class="plat-icon testing ml-2 mr-2 mt-4">
                        <img src="/logo/@(item.plat.ToLower()).png" />
                    </a>
                }
            }
        }
    </div>

    <h6 class=" mt-4">点击以上图标测试登录，更多平台，持续开发中...</h6>
</div>
