@{
    ViewData["Title"] = "做最好用的 OAuth 登录组件";
}

<div class="text-center mt-5">
    <h2>@(ViewData["Title"])</h2>

    <div class="offset-md-2 col-md-8 mt-5">
        @{
            foreach (var item in SupportedOAuth.List.OrderByDescending(p => p.available))
            {
                if(item.available)
                {
                    <a href="/oauth/@(item.platform)" title="使用@(item.platformName)账号登录" class="plat-icon ml-2 mr-2 mt-4">
                        <img src="/logo/@(item.platform.ToLower()).png" style="max-width: 50px; max-height: 50px;" />
                    </a>
                }
                else
                {
                    <a href="/oauth/@(item.platform)" onclick="return confirm('暂未获得平台【@(item.platformName)】应用Id，不保证正确相应您的请求。\n欢迎提供测试信息，感谢！联系QQ：491217650')" title="使用@(item.platformName)账号登录" class="plat-icon testing ml-2 mr-2 mt-4">
                        <img src="/logo/@(item.platform.ToLower()).png" style="max-width: 50px; max-height: 50px;" />
                    </a>
                }
            }
        }
    </div>

    <h6 class=" mt-4">点击以上图标测试登录，更多平台，持续开发中...</h6>
</div>
